.form {
  background-color: #fff;
  margin: auto;
  max-width: 90%;
  width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;

  &__title {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  &__paragraph {
    font-weight: 300;
  }
  &__link {
    font-weight: 400;
    color: #000;
  }
  &__container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
  }
  &__group {
    position: relative;
    color: #5757577e;
  }
  &__input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  &__input:not(:placeholder-shown) {
    color: #4d4646;
  }

  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label {
    transform: translateY(-12px) scale(0.7);
    transform-origin: left top;
    color: #3866f2;
  }
  &__label {
    color: #5757577e;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
  }
  &__submit {
    background: #3866f2;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.8em 0;
    border: none;
    border-radius: 0.5em;
  }
  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform 0.4s;
  }

  &__input:focus ~ &__line,
  &__input:not(:placeholder-shown) ~ &__line {
    transform: scale(1);
  }
}
